#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_elem{
    display: flex;
    align-items: center;
}

.users_container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-gap: 60px;
}

.user_card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}